html{
  font-family: sans-serif;
}

body {
  background-color: #2D3F40;
  color: #D1C9B4;
}

figure {
  margin: 0%;
  padding: 0%;
  image-rendering: auto;
  width: 100%;
}

.copyright {
  text-transform: uppercase;
}

#headline {
  text-transform: uppercase;
  background-color: white;
  opacity: 80%;
}