html{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

figure {
  margin: 0%;
  padding: 0%;
  image-rendering: auto;
  width: 100%;
}

.copyright {
  text-transform: uppercase;
}

#headline {
  text-transform: uppercase;
  background-color: white;
  opacity: 80%;
}